/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.idea
/*.iml
node_modules
.lsp
.clj-kondo
.lsp
.shadow-cljs
.cpcache
.lein*
cljs-runtime
*.log
rabbitize-runs
todo_out
todo-out
.claude-debug

