{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [cljsjs/react "18.2.0-1"]
                [cljsjs/react-dom "18.2.0-1"]]
 
 :builds
 {:magic {:target :browser
          :output-dir "resources/public/js"
          :asset-path "/js"
          :modules {:magic {:init-fn examples.magic-counter.client/init!}}
          :devtools {:http-root "resources/public"
                     :http-port 8080}}
  
  :todo {:target :browser
         :output-dir "resources/public/js"
         :asset-path "/js"
         :modules {:todo {:init-fn examples.todo-app.client/init!}}
         :devtools {:http-root "resources/public"
                    :http-port 8080}}
  
  :rabbit {:target :browser
           :output-dir "resources/public/js"
           :asset-path "/js"
           :modules {:rabbit {:init-fn examples.rabbit-demo.client/init!}}
           :devtools {:http-root "resources/public"
                      :http-port 8080}}}}
